<!DOCTYPE html>
{% extends "my_stuff/base.html" %}
{"load static"}

{% block body_block %}

<div class="jumbotron">

    <h1>Pleas Login</h1>

<form action="{% url 'learning_user_app:user_login' %}" method="POST">
    {% csrf_token %}
    <label for="username">Username:</label>
    <input type="text" name="username" placeholder="Enterusername">

    <label for="password">password</label>
    <input type="password" name="password">

    <input type="submit" value="Login">
</form>



</div>


{% endblock %}